* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Yusei Magic";
}
p {
  text-align: center;
}

modal.img {
  text-align: center;
}

.navbar-dark .navbar-brand {
  color: #000000;
}

div.modal-header {
  text-align: center;
  background: #f0e446;
}

h1 {
  text-align: center;
  padding-right: 30px;
}

.modal-title {
  text-transform: capitalize;
}

.card-title {
  text-transform: capitalize;
}

.pokemon-list {
  text-align: center;
  margin-right: 70px;
}

img {
  text-align: right;
}

ul {
  list-style-type: none;
}

#modal-container {
  display: none;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
  text-align: center;
}

.modal p {
  margin-bottom: 0;
}

modal-footer {
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}
